/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eigen CSS-variabelen voor lichte en donkere modus */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body styling met variabelen */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
